html {
  background-image: url('../images/wasteland_city.png');
  background-size: cover;
}

.controls {
  background-image: url('../images/controls.png');
  height: 100px;
  width: 304px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 16px;
}

.obstacle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 25px;
}

.obstacles {
  background-image: url('../images/rock.png');
  height: 60px;
  width: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.life-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 25px;
}

.life {
  background-image: url('../images/turbo.png');
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.cash-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 25px;
}

.cash {
  background-image: url('../images/money.png');
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.game-container {
  display: flex;
  align-items: center;
  height: -webkit-fill-available;
  justify-content: space-around;
}

.instructions {
  height: 702px;
  width: 470px;
  background-color: rgba(255,255,255, 0.6);
  margin-bottom: 2px;
}

.title {
  font-size: 88px;
  text-align: center;
  font-style: oblique;
  margin-top: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info {
  position: relative;
}

#slow {
  position: absolute;
  padding: 150px 0 0 90px;
  color: white;
  font-size: 78px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
}

.score-container {
  color: black;
  text-align: center;
  font-size: 46px;
  line-height: 52px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
}

.score-value {
  padding-left: 10px;
}

.score-value--mod {
  color: limegreen;
  transition: all .5s ease;
}

.score-value--mod-back {
  color: black;
  transition: all .5s ease;
}

.lives-container {
  color: black;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
}

.lives-value {
  padding-left: 10px;
}

.lives-value--mod {
  color: red;
}

#play-btn {
  background-image: url('../images/start.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  position: absolute;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  cursor: pointer;
}

#splash {
  display: flex;
  justify-content: center;
}

.justify {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.github {
  background-image: url('../images/github.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;}

.linkedin {
  background-image: url('../images/linkedin.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;}

.social {
  display: flex;
  height: 7%;
  justify-content: space-around;
  margin-top: 76px;
}

#how {
  position: absolute;
  text-align: center;
  font-size: 20px;
  background: aliceblue;
  /* border-radius: 14px; */
  padding: 134px 25px 472px 25px;
  /* margin-top: 100px; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: .6;
  /* font-style: oblique; */
  letter-spacing: 1.7px;
}